.search-status {
  margin-top: 30px;
}

.search-status h2 {
  text-align: center;
}


.search-status h3 {
  background-color: green;
  text-align: center;
  color: white;
  border-radius: 20px;
  height: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
}

.search-status h3.not-found {
  background-color: red;
}
