.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 275px;
  height: 100;
}

.card-content {
  font-size: 1rem;
  color: #555;
}
