.interval-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  scale: 0.8;
}

.interval-button:hover {
  background-color: #2980b9;
}

.cbas-table {
  width: 95%;
  height: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 3%;
}
.cbas-table thead th {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  background-color: #55608f;
}
.cbas-table tbody td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(0, 0, 0);
  text-align: center;
  position: relative;
}
.cbas-table tbody tr:hover {
  background-color: rgba(214, 214, 214, 0.3);
  transition: 0.1s ease-in;
}
