.container {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.data-box-card {
  flex-grow: 1;
  margin-left: 1.5rem
}

.intro {
  margin-right: 5rem;
  font-size: 2rem;
  text-align: center;
}
