.sidebar {
  margin: 0;
  padding: 0;
  width: 12.5rem;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar-title {
  padding: 1rem;
}

.content {
  margin-left: 12rem;
  padding-top: 3rem;
  padding-left: 3rem;
}
