.nav-item {
  display: block;
  color: black;
  padding: 1.25rem;
  text-decoration: none;
}

.nav-item.active {
  background-color: #0c2b5b;
  color: white;
}

.nav-item:hover {
  background-color: #555;
  color: white;
  transition: 0.15s;
}
