.search-parameters-list {
  position: absolute;
  right: 20%;
  bottom: 80%;
}

.search-parameters-list h2 {
  margin: 0;
  font-family: "Lato";
  margin-bottom: 0.35rem;
}

.search-parameters-list h4 {
  margin: 0;
  font-family: "Lato";
  margin-bottom: 0.25rem;
}
