.search-status {
  margin-top: 1.5rem;
}

.search-status h2 {
  text-align: center;
}

.search-status h3 {
  background-color: green;
  text-align: center;
  color: white;
  border-radius: 20px;
  height: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  width: auto;
  font-size: 1.5rem;
}

.search-status h3.not-found {
  background-color: red;
}

.search-status h3.no-params {
  background-color: rgb(173, 170, 0);
}

.search-status h4 {
  text-align: center;
}

.last-search-parameters {
  text-align: center;
}

.last-search-parameters h4 {
  font-family: "Montserrat";
}
