.submitter-mongo {
  display: flex;
}

.submitter-mongo h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.submitter-mongo h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: lighter;
}
